<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
        <class name="com.jiomart.testcases.BaseClass"/>
           <class name="com.jiomart.testcases.TC_HomePageTest"/>
             <class name="com.jiomart.testcases.TC_SearchResultPage"/>
      <class name="com.jiomart.testcases.TC_ProductDetailPage"/>
    
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
